// sidebar
.container{
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

.menu-sidebar{
  // width: 296px;
  width: 20%;
  background-color: $gray-100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .sidebar-nav-link{
    position: relative;
    li a{
      &:hover, &:focus{
        color: $success;
        ::before{
          content: ' | ';
          font-weight: bold;
          position: absolute;
          margin-left: -2.2rem;
          margin-top: -5px;
        }
      }
    }
  }
  .user-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-right: 1rem;
  }
}

.main{
  // width: 984px;
  width: 80%;
}

